@import '../../styles/variables';


.menu__link {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.link {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  &:last-child {
    padding-bottom: 0;
  }
}

.nav__link {
  font-size: $fs-heading-5;
  text-decoration: none;
  color: $c-menu-burger;
  &:hover {
    color: $c-white;
  }
}

.nav__item {
  margin-top: 50px;
}