@import '../../styles/variables';
.block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (max-width: $phone) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.slider {
  width: 100%;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $c-dark;
  padding: 130px;
  @media screen and (max-width: $tablet) {
    padding: 40px;
  }
  @media screen and (max-width: $phone) {
    padding: 20px;
  }
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  @media screen and (max-width: $phone) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.subtitle {
  &_num {
    color: $c-text-dark-mode;
    font-size: $fs-menu;
    margin-right: 20px;
    @media screen and (max-width: $tablet) {
      font-size: $fs-base;
      margin-right: 20px;
    }
    @media screen and (max-width: $phone) {
      font-size: $fs-base;
    }
  }
  &_text {
    color: $c-white;
    font-size: $fs-menu;
    @media screen and (max-width: $tablet) {
      font-size: $fs-base;
    }
    @media screen and (max-width: $phone) {
      font-size: $fs-base;
    }
  }
}

.text {
  max-width: 670px;
  z-index: 3;
}

.title {
  color: $c-white;
  font-size: $fs-heading-2;
  @media screen and (max-width: $tablet) {
    font-size: $fs-heading-4;
    margin-top: 20px;
  }
  @media screen and (max-width: $phone) {
    font-size: $fs-heading-6;
  }
}

.arrow {
  transform: rotate(180deg);
}

.arrows {
  display: flex;
  align-items: center;
  width: fit-content;
  z-index: 3;
}

.button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: transparent;
  margin: 15px;
  @media screen and (max-width: $tablet) {
    width: 34px;
    height: 34px;
  }
  &:hover {
    background-color: $c-primary;
    transition: 0.3s;
  }
  &:active {
    background-color: $c-white-shades;
  }
}

.line {
  position: absolute;
  width: 700px;
  top: 0;
  left: 0;
  z-index: 1;
  @media screen and (max-width: $tablet) {
    width: 500px;
  }
  @media screen and (max-width: $phone) {
    width: 300px;
  }
}

.backg {
  position: absolute;
  max-width: 800px;
  top: -50px;
  left: calc(100% - 800px);
  z-index: 2;
  @media screen and (max-width: $tablet) {
    max-width: 500px;
    top: -20px;
    left: calc(100% - 500px);
  }
  @media screen and (max-width: $phone) {
    max-width: 300px;
    top: -10px;
    left: calc(100% - 300px);
  }
}

.date {
  display: flex;
  padding: 10px 0 80px 0;
  flex-direction: column;
  width: fit-content;
  justify-content: space-around;
  &_year {
    color: $c-text-dark-mode;
  }
  &_years {
    color: $c-white;
    position: relative;
  }
}

.cart {
  width: 970px;
  z-index: 3;
  @media screen and (max-width: $tablet) {
    max-width: 500px;
  }
  @media screen and (max-width: $phone) {
    max-width: 300px;
  }
}

.lines1 {
  position: absolute;
  border-radius: 5px;
  width: 25px;
  height: 5px;
  top: 7px;
  left: -80px;
}
.lines2 {
  position: absolute;
  width: 200px;
  top: 0;
  left: 60px;
  z-index: 5;
  @media screen and (max-width: $phone) {
    width: 100px;
  }
}

.vertical_line {
  width: 2px;
  height: 80px;
  @media screen and (max-width: $tablet) {
    margin-right: 20px;
  }
  @media screen and (max-width: $phone) {
    display: none;
  }
}

.text_block {
  max-width: 470px;
}

.char {
  width: fit-content;
  &_big {
    font-size: $fs-big;
    color: $c-white;
  }
}

.block_title {
  font-size: $fs-heading-5;
  color: $c-white;
}

.block_subtitle {
  font-size: $fs-menu;
  color: $c-text-dark-mode;
  margin-top: 40px;
  margin-bottom: 40px;
}
